<div class='card-header'>

</div>
<div class='card-header'>

</div>

    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'></div>
            <div class='col-md-4'>

            </div>
            </div>
            <div class='row'>
                <div class='col-md-6'>

                    <h4>Filtered by: <input type='text'
                      [(ngModel)]= 'listFilter' /></h4>
                </div>
            </div>
            <div class='table-responsive'>
                <table class='table'
                    *ngIf='products && products.length'>
                    <thead>
                        <tr>
                            <th>
                                <button class='btn btn-primary'
                                (click)='toggleImage()'>
                                {{showImage ? 'Hide' : 'Show'}}
                                     Image
                                </button>
                            </th>
                            <th>Product</th>
                            <th>Category</th>
                            <th>Payment Term</th>
                            <th>Price</th>
                            <th>Star Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let product of filteredProducts'>
                            <td>
                                    <a [routerLink]="['/products',product.productID]"><img *ngIf='showImage'
                                    [src]='product.picture'
                                    [title]='product.title'
                                    [style.width.px]='imageWidth'
                                    [style.margin.px]='imageMargin'></a>
                            </td>
                            <td><a [routerLink]="['/products',product.productID]">{{product.title}}</a></td>
                            <td>{{product.category | lowercase | convertToSpaces: '-' }}</td>
                            <td>{{product.paymentTerm}}</td>
                            <td>{{product.price | currency:"&#8377;"}}</td>
                            <td><pm-star [rating]='product.quantity' (ratingClicked)='onRatingClicked($event)'></pm-star></td>
                          </tr>



                    </tbody>
                </table>
            </div>

          </div>


